
<span style="color:black;">
<%= form_for @post, :url => { :action => "post_reblog", method: "POST"} do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br><br>
    <%= f.label :body %><br>
    <%= f.text_area :body, size: "45x6" %><br>
    <%= hidden_field_tag :reblogged_from, @post.user.id %>
    <%= hidden_field_tag :source, @post.source %>
    <%= hidden_field_tag :photo_id, @post.id %>
    <%= f.submit%>
<% end %>
</span>