<div class="post_card">
    <div class='post_header'><%= link_to post.user.username, post.user, class:"username" %>  </div>
    <h2><%= post.title %></h2>
    <h4><%= post.body %></h4>
    <%= link_to "reblog", "#" %>
    <br>
    <%= post.created_at.strftime("%I:%M %p %Z on %m-%d-%Y") %>
</div>