<div class="post_card">
    <div class='post_header center'>
        <%= image_tag user.avatar.url, class:"avatar" %>
        <%= link_to user.username, user, class:"username" %>  
    </div>
    <div class="post_content cf">
        <h4 class="med_gray">Recent Posts:</h4>
        <br>
        <div class='row'>
            <div class='col-md-4'>
                <%= link_to user.posts[-1].title, post_path(user.posts[-1]) %>
                <br>
                <%= user.posts[-1].body %>
                <% if user.posts[-1].photo.url != "/photos/original/missing.png" %>
                    <%= image_tag user.posts[-1].photo.url, style:"width: 150px" %>
                <% end %>
            </div>
            <div class='col-md-4'>
                <%= link_to user.posts[-2].title, post_path(user.posts[-2]) %>
                <br>
                <%= user.posts[-2].body %>
                <% if user.posts[-2].photo.url != "/photos/original/missing.png" %>
                    <%= image_tag user.posts[-2].photo.url, style:"width: 150px" %>
                <% end %>
            </div>
            <div class='col-md-4'>
                <%= link_to user.posts[-3].title, post_path(user.posts[-3]) %>
                <br>
                <%= user.posts[-3].body %>
                <% if user.posts[-3].photo.url != "/photos/original/missing.png" %>
                    <%= image_tag user.posts[-3].photo.url, style:"width: 150px" %>
                <% end %>
            </div>
        </div>

    </div>
</div>