<div class="following_container">
            <div class="center dark_bottom_border">
                <%= link_to feed_path do %>
                    <i class="material-icons light_gray" style="font-size: 35px;">home</i>
                <% end %>
                <%= link_to posts_path do %>
                    <i class="material-icons light_gray" style="font-size: 35px;">explore</i>
                <% end %>
                <%= link_to new_post_path do %>
                    <i class="material-icons light_gray" style="font-size: 35px;">description</i>
                <% end %>
                <%= link_to current_user do %>
                    <i class="material-icons light_gray" style="font-size: 35px;">face</i>
                <% end %>
            </div>
            <h2 class="light_gray"><%= @user.username %></h2>
            <!-- follow button -->
            <% if current_user != @user %>
                <% if !current_user.following?(@user) %>
                    <%= form_for(current_user.active_relationships.build) do |f| %>
                    <div><%= hidden_field_tag :followed_id, @user.id %></div>
                    <%= f.submit "Follow", class: "btn btn-primary" %>
                    <% end %>
                <% else %>
                    <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                    html: { method: :delete }) do |f| %>
                    <%= f.submit "Unfollow", class: "btn" %>
                    <% end %>
                <% end %>
            <% end %>
            <!-- end follow button -->
            <br>
            <h5 class="light_gray"><%= @user.username %> is following:</h5>
            <% @user.following.each do |following| %>
            <div>
                <a href="<%= user_path(following) %>">
                    <%= image_tag following.avatar.url, class:"avatar_small" %>
                </a>
                <%= link_to following.username, following, class: "med_gray" %>
            </div>
            <% end %>
 </div>